.news {
    margin: 0 auto;
    width: 900px;
    background-color: #e1fafc;
  }

  .news__title {
    text-align: center;
  }
  
  .news-list {
    padding: 5px 5px;
    cursor: pointer;
    &__item {
      display: block;
      border: 2px solid #000;
      font-size: 18px;
      font-weight: 500;
      padding: 0 10px;
  
      &:not(:last-child) {
        border-bottom: none;
      }
  
      &.is-active {
        .news-list__header-icon {
          transform: rotate(270deg);
        }
      }
    }
  
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    &__header-icon {
      display: inline-block;
      transform: rotate(90deg);
      transition: transform .3s;
    }
  
    &__title {
      margin: 0;
      padding: 10px 0;
      cursor: pointer;
    }
  }

  .pagination {
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    width: 600px;
    margin: 0 auto;
  }

  .pagination__input {
    margin-top: 3px;
  }

  .pagination__btn {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px 0 5px;
    padding:0.3em 1.2em;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto', sans-serif;
    font-weight:300;
    background-color:#f14e4e;
    color: #ffffff;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align: center;
    transition: all 0.2s;
    &:hover {
      border-color: rgba(255,255,255,1);
    }
  }
    

  .refresh-btn {
    position: relative;
    left: 45%;
    box-shadow: inset 0px 1px 0px 0px #bbdaf7;
    background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    background-color: #79bbff;
    border-radius: 6px;
    border: 1px solid #84bbf3;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #528ecc;
  }
  .refresh-btn:hover {
    background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
    background-color: #378de5;
  }
  .refresh-btn:active {
    position: relative;
    top: 1px;
  }
  
  .error {
    text-align: center;
  }

  img {
    max-width: 100%;
    height: auto !important;
  }